.light-blue-background{
  background-color: #0277bd;
}
.light-blue-font{
  color: #0277bd;
}
$font-family: roberto-bold;
.collection a.collection-item ,
div.collapsible-header{
  @extend .light-blue-font, darken-3;
  font-family: $font-family;
}
a {
   font-family: $font-family;
}
nav{
  @extend .light-blue, darken-3;
  height: 150px;
  background: url('splash.jpg');
  .brand-logo.center{
      margin: 45px 0;
  }
}
.container{
  width: 100%;
  ul{
    margin: 0;
  }
}
