.light-blue-background{
  background-color: #0277bd;
}
.light-blue-font{
  color: #0277bd;
}
$font-family: roboto-bold;

//FONT FAMILY for Accordion
.collection a.collection-item ,
div.collapsible-header{
  @extend .light-blue-font, darken-3;
  font-family: $font-family;
}

//FONT FAMILY for Header
a {
   font-family: $font-family;
}
//HEADER
nav{
  background-color: #25519A;
  .nav-wrapper{
    @extend .light-blue, darken-3;
    height: 150px;
    background: url('splash.jpg');
    background-size: cover;
    background-position: 0 47px;
    background-repeat: no-repeat;
    .brand-logo.center{
      margin: 45px 0;
    }
  }
}
.container{
  width: 100%;
  ul{
    margin: 0;
  }
}
